In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read Data and store on dataframes
movie_database = pd.read_csv('Small_Data/movies.csv')
users_ratings = pd.read_csv('Small_Data/ratings.csv')
tags_database = pd.read_csv('Small_Data/tags.csv')
links_database = pd.read_csv('Small_Data/links.csv')

In [11]:
movie_database[0:10]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [3]:
# Get the total number of users and movie
users_ratings['userId'] = users_ratings['userId'] - 1
num_users = len(pd.unique(users_ratings['userId']))
num_movies = len(movie_database)

print("Total number of movies: " + str(num_movies))
print("Total number of users: " + str(num_users))

Total number of movies: 9742
Total number of users: 610

In [5]:
users_ratings[users_ratings['userId']==0][0:5]

   userId  movieId  rating  timestamp
0       0        1     4.0  964982703
1       0        3     4.0  964981247
2       0        6     4.0  964982224
3       0       47     5.0  964983815
4       0       50     5.0  964982931

In [6]:
def build_feedback_matrix(users_ratings,num_movies,num_users):
    # Initiate feedback matrix with all zero ratings
    # Get all unique users ids
    feedback_matrix = np.zeros((num_users,num_movies))
    users = pd.unique(users_ratings['userId'])
    for user_id in users:
        # Get the ratings for especific user id
        ratings = users_ratings[users_ratings['userId'] == user_id]
        num_ratings = len(ratings)
        # Set the rating of all the movies that the user Id has give rating
        for j in ratings.index:
            movie_id = ratings['movieId'].loc[j]
            movie_index = movie_database[movie_database['movieId'] == movie_id].index.values
            feedback_matrix[user_id,movie_index] = ratings['rating'].loc[j]

    return feedback_matrix

In [7]:
# Build an NxM feedback matrix, N=Users, M=Movies
feedback_matrix = build_feedback_matrix(users_ratings,num_movies,num_users)

array([4., 0., 4., ..., 0., 0., 0.])